<footer class="py-2 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0 text-center text-md-start">
        <h5 class="footer-title">Rólunk</h5>
        <p class="footer-text">
          A ClanVerse a játékosok közösségi központja.<br>
          Hozz létre klánt, találj társakat, és építsd fel a saját birodalmadat.<br>
          Legyen szó kompetitív e-sportról vagy laza esti játékról, nálunk mindenki megtalálja a helyét.<br>
          Csatlakozz a közösséghez, ahol a játékosok legendákká válnak, és a barátságok a csatatéren köttetnek.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <h5 class="footer-title">Kapcsolat</h5>
        <ul class="list-unstyled footer-contact">
          <li><span class="highlight">Email:</span> info@clanverse.hu</li>
          <li><span class="highlight">Discord:</span> ClanVerse Hivatalos</li>
          <li><span class="highlight">Cím:</span> 1117 Budapest, Gamer utca 1.</li>
        </ul>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        <p class="copyright">© 2026 ClanVerse. Minden jog fenntartva.</p>
      </div>
    </div>
  </div>
</footer>
