<p routerLink="/fooldal">fooldal</p>
<form (ngSubmit)="onSubmit()" #createclanForm="ngForm" class="form-container">
        <div>
            <label for="clanName">Klán neve</label>
            <input type="text" name="clanName" id="clanName" [(ngModel)]="clanname" required >
        </div>
        <div>
            <label for="game">Játék</label>
            <input type="text" name="game" id="game" [(ngModel)]="gameName" (input)="onGameInput($event)" (focus)="onGameFocus()" required autocomplete="off">
            <input type="hidden" id="gameId" name="gameId" [(ngModel)]="gameId">
            <ul class="game-suggestions">
                <li *ngFor="let game of gameSuggestions" (mousedown)="selectGame(game)">{{ game.name }}</li>
            </ul>
        </div>
        <div>
            <label for="description">Leírás</label>
            <textarea name="description" id="description" [(ngModel)]="description" required></textarea>
        </div>
        <input type="submit" value="Klán létrehozása" id="createClanBtn" [disabled]="!createclanForm.form.valid" >
    </form>

    <div *ngIf="showModal" class="modal-overlay">
        <div class="modal-content">
            <h2>Bejelentkezés szükséges!</h2>
            <p>Ahhoz hogy klánt hozz létre, jelentkezz be.</p>
            <button (click)="goToLogin()">Bejelentkezés</button>
        </div>
    </div>
