<p>createclan works!</p>
<p routerLink="/fooldal">fooldal</p>
<form (ngSubmit)="onSubmit()" #createclanForm="ngForm" class="form-container">
        <div>
            <label for="clanName">clanName</label>
            <input type="text" name="clanName" id="clanName" [(ngModel)]="clanname" required >
        </div>
        <div>
            <label for="game">Game</label>
            <input type="text" name="game" id="game"  required>
            <input type="hidden" id="gameId" name="gameId">
        </div>
        <div>
            <label for="description">description</label>
            <textarea name="description" id="description" [(ngModel)]="description" required></textarea>
        </div>
        <input type="submit" value="Create Clan" id="createClanBtn" [disabled]="!createclanForm.form.valid" >
    </form>
    <input type="submit" value="logout" id="logout" name="logout">

    <div *ngIf="showModal" class="modal-overlay">
        <div class="modal-content">
            <h2>Bejelentkezés szükséges!</h2>
            <p>Ahhoz hogy klánt hozz létre, jelentkezz be.</p>
            <button (click)="goToLogin()">Bejelentkezés</button>
        </div>
    </div>
