<form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form-container">
  <h2>Bejelentkezés</h2>
  <div class="form-group">
    <label for="username">Felhasználónév</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required placeholder="Add meg a felhasználóneved"
    />
  </div>
  <div class="form-group">
    <label for="password">Jelszó</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Add meg a jelszavad"/>
    <p><strong style="color: green;">Ha van már fiókod, jelentkezz be!</strong></p>
    <p><strong style="color: whitesmoke;">Ha nincs még fiókod, kattints ide a <a routerLink="/registration">regisztrációhoz!</a></strong></p>
  </div>
  <button type="submit" [disabled]="!loginForm.form.valid">Bejelentkezés</button>
</form>
