.form-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 1rem;
}
