USERNAME = ""
PORT = 3000
DB_HOST = localhost
DB_PORT = 3306
DB_DIALECT = mariadb
DB_NAME = clanverse
DB_USER = ""
DB_PASS = ""

HASHITERATIONS = 10

SECRET_KEY = clanverse123
REFRESH_SECRET_KEY = clanverseRefresh123


ADMIN_USERNAME = ""
ADMIN_PASSWORD = ""
GENERATED_USERS_PASS = clanverseuser123