<div class="welcome-header">
    <h1>Üdvözöljük a ClanVerse oldalán!</h1>
    <p class="welcome-subtitle">Egy hely, ahol a játékosok találkoznak, csapatok születnek, és közös célok formálódnak.<br>A klánok nemcsak a győzelemről szólnak, hanem a fejlődésről, az együttműködésről és az élményekről.</p>
    <p class="welcome-subtitle call-to-action">Készen állsz a kalandra? Csatlakozz egy klánhoz, vagy hozd létre a sajátodat, és formáld te a játék jövőjét!</p>
</div>
<div class="nepszeru-div">
    <div class="nepszeru-jatekok">
        <h2>Népszerű Játékok</h2>
        <!-- ide töltődnek be a játékok a backendről -->
    </div>
    <div class="nepszeru-klanok">
        <h2>Népszerű Klánok</h2>
        <!-- ide töltődnek be a népszerű klánok a backendről -->
    </div>
</div>
