<form (ngSubmit)="onSubmit()" #registrationForm="ngForm" class="form-container">
  <h2>Regisztráció</h2>
  <div class="form-group">
    <label for="username">Felhasználónév</label>
    <input type="text" id="username" name="username" [(ngModel)]= "username" required  placeholder="Add meg a felhasználóneved"/>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email"  [(ngModel)]="email" required email placeholder="Add meg az email címed"/>
  </div>
  <div class="form-group">
    <label for="password">Jelszó</label>
    <input type="password"id="password"name="password" [(ngModel)]="password" required minlength="6" placeholder="Add meg a jelszavad"/>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Jelszó megerősítése</label>
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="Erősítsd meg a jelszavad"/>
  </div>
  <div class="form-group">
    <label for="profilePicture">Profilkép (nem kötelező)</label>
    <input type="file" id="profilePicture" name="profilePicture" (change)="onFileSelected($event)" accept="image/*" />
  </div>
  <button type="submit" [disabled]="!registrationForm.form.valid">Regisztráció</button>
  <p><strong style="color: red;">Regisztráljon be ahhoz, hogy további funkciókhoz férhessen!</strong></p>
  <p><strong style="color: whitesmoke;">Ha már van fiókod, kattints ide a <a routerLink="/login">bejelentkezéshez!</a></strong></p>
</form>
