<div class="welcome-header">
  <h1>Üdvözöljük a Klánok oldalán!</h1>
  <p class="welcome-subtitle call-to-action">Csatlakozz egy klánhoz, vagy hozz létre saját közösséget, és alakítsd te a játék jövőjét.</p>
</div>
<div class="clans-container">
  
</div>
<div *ngIf="clanData" class="modal-overlay">
  <div class="modal-content clan-details-container" style="position: relative; max-height: 90vh; overflow-y: auto;">
    <span (click)="closeClanDetails()" style="position: absolute; top: 10px; right: 20px; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
    <div class="clan-card-body">
    <h5 class="card-title">{{ clanData.name }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary" style="color: #00f3ff !important;">{{ clanData.gameName }}</h6>
    <img src="{{this.serverUploadUrl + clanData.gameLogo }}" alt="{{ clanData.gameName }}" class="card-img-top">
    <p class="card-text">{{ clanData.description }}</p>
      <h3>Tagok</h3>
      <table class="members-table">
        <thead>
          <tr>
            <th>Név</th>
            <th>Szerep</th>
            <th *ngIf="isKickMode">Művelet</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let member of clanData.allMembers" class="members-table-row">
            <td>{{ member.name }}</td>
            <td>{{ member.role }}</td>
            <td *ngIf="isKickMode">
              <button *ngIf="member.role !== 'leader'" (click)="kickMember(member.name, clanData.id)">Kirúgás</button>
              <div *ngIf="member.role === 'leader'" style="color: gray; text-align: center !important;">Nem rúgható ki</div>
            </td>
          </tr>
        </tbody>
      </table>
      
    <div class="buttons">
      <ng-container *ngIf="clanData.editable">
        <button (click)="openEditModal(clanData)">Klán módosítása</button>
        <button (click)="deleteClan(clanData.id)">Klán törlése</button>
        <button (click)="openKickPlayer(clanData)">{{ isKickMode ? 'Kizárás befejezése' : 'Játékos kizárása' }}</button>
        <button (click)="leaveClan(clanData.id)">Kilépés a klánból</button>
        <button (click)="openMessage(clanData.id)">Chat megnyitása</button>
      </ng-container>

      <ng-container *ngIf="!clanData.editable && clanData.canJoin === false">
        <button (click)="leaveClan(clanData.id)">Kilépés a klánból</button>
        <button (click)="openMessage(clanData.id)">Chat megnyitása</button>
      </ng-container>

      <ng-container *ngIf="!clanData.editable && clanData.canJoin === true">
        <button (click)="onJoin(clanData.id)">Belépés a klánba</button>
      </ng-container>
    </div>
    </div>
  </div>
</div>

<div *ngIf="showEditModal" class="modal-overlay">
  <div class="modal-content">
    <h2>Klán módosítása</h2>
    <form (ngSubmit)="onEditClanSubmit()" #editClanForm="ngForm">
      <div>
        <label for="editClanName">Klán neve</label>
        <input type="text" id="editClanName" name="editClanName" [(ngModel)]="editClanName" required>
      </div>
      <div>
        <label for="editGame">Játék</label>
        <input type="text" id="editGame" name="editGame" [(ngModel)]="editGameName" (input)="onEditGameInput($event)"  required autocomplete="off">
        <input type="hidden" id="editGameId" name="editGameId" [(ngModel)]="editGameId">
        <ul *ngIf="editGameSuggestions.length > 0" id="edit-game-suggestions" class="game-suggestions">
          <li *ngFor="let game of editGameSuggestions" (mousedown)="selectEditGame(game)">{{ game.name }}</li>
        </ul>
      </div>
      <div>
        <label for="editDescription">Leírás</label>
        <textarea id="editDescription" name="editDescription" [(ngModel)]="editDescription" required></textarea>
      </div>
      <button type="submit" [disabled]="!editClanForm.form.valid">Mentés</button>
      <button type="button" (click)="closeEditModal()">Mégse</button>
    </form>
  </div>
</div>