button{
    width: 50%;
    margin-left: 25%;
}

.form-group{
    width: 50%;
    margin-left: 25%;
}

.profile-image-container{
    margin-top: 25px;
    width: 50%;
    margin-left: 25%;
}

.btn{
    margin-left: 25%;
    margin-right: 25%;
}

.username{
    color: #E0F7FA;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.4);}