<div class="profile-container">
    <h2>Profil szerkesztése</h2>
    <form id="profile-form">
        <div class="form-group">
            <label for="username">Felhasználónév:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"  [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="current_password">Jelenlegi jelszó:</label>
            <input type="password" id="current_password" name="current_password"  [(ngModel)]="current_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">Új jelszó:</label>
            <input type="password" id="new_password" name="new_password"  [(ngModel)]="new_password">
        </div>
        <div class="form-group">
            <label for="confirm_new_password">Új jelszó megerősítése:</label>
            <input type="password" id="confirm_new_password" name="confirm_new_password" [(ngModel)]="confirm_new_password">
        </div>
        <button type="button" class="btn btn-primary" id="update_user_button" (click)="updateProfile()">Mentés</button>
    </form>
</div>