.admin-container {
    max-width: 600px;
    width: 90%;
    margin: 4rem auto;
    padding: 2.5rem;
    background-color: rgba(15, 23, 36, 0.95);
    border-radius: 8px;
    border: 1px solid rgba(0, 243, 255, 0.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    background: linear-gradient(45deg, #4169E1, #0D3B66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 15px rgba(0, 243, 255, 0.4);
}

.form-group {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.8rem;
    font-weight: bold;
    color: #E0F7FA;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.form-control {
    width: 100%;
    padding: 1rem;
    background-color: rgba(15, 23, 36, 0.8);
    border: 1px solid rgba(0, 243, 255, 0.3);
    border-radius: 4px;
    font-size: 1rem;
}


.btn-upload {
    width: 100%;
    padding: 1.2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #E0F7FA;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #4169E1, #0D3B66);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
#gameName::placeholder{
    color: whitesmoke;
}
#gameName:focus{
    color: white;
}

input[type="file"] {
    width: 100%;
    padding: 1rem;
    background-color: rgba(15, 23, 36, 0.8);
    border: 1px solid rgba(0, 243, 255, 0.3);
    border-radius: 4px;
    font-size: 1rem;
    color: #E0F7FA;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: rgba(15, 23, 36, 0.8);
}

input[type="file"]::file-selector-button {
    margin-right: 1rem;
    border: none;
    background: linear-gradient(45deg, #4169E1, #0D3B66);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #E0F7FA;
    cursor: pointer;
    font-weight: bold;
}
