<div class="admin-container">
    <h2>Új játék feltöltése</h2>
    
    <div class="form-group">
        <label for="gameName">Játék neve:</label>
        <input type="text" id="gameName" [(ngModel)]="gameName" placeholder="Pl. League of Legends" class="form-control">
    </div>

    <div class="form-group">
        <label for="logo">Játék logó (kép):</label>
        <input type="file" id="logo" (change)="onFileSelected($event)" accept="image/*">
    </div>

    <button (click)="uploadGame()" class="btn-upload">Feltöltés</button>
</div>
